<section class='user-posts'>
    <div class='user'> 
        <img class='photo border' src=<%= @user.photo%>/>
        <div class='user-info border'>
            <h2><%= @user.name%></h2>
            <p>Number of posts: <%= @user.posts_counter%></p>
        </div>  
    </div>
    <div class='bio border'>
        <h3>Bio</h3>
        <p><%= @user.bio%></p>
    </div>
    <ul class='posts'>
        <% @user.recent_posts.each do |post|%>
            <li class='post border'>
                <h3>Post #<%= post.id%></h3>
                <p><%=post.text%></p>
                <span>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></span>
            </li>
        <%end%>
    </ul>
    <button class='see-all' type='button'>See all posts</button>
</section>